{% extends "base.html" %}

{% block content %}
	<h1>User: {{ user.username }} </h1>
	<hr>
	<p>
		{% if won == False %}
			Cards in my hand: 
			{% for card in myhand %}
			<p>
				{{ card }}

			</p>
			{% endfor %}
			Cards in dealer's hand: 
			<p> {{ dealerhand[0] }} </p>
			<p> Hidden Card </p>

			<a href="{{ url_for('hit', username=current_user.username) }}">Hit Me</a>
			
			<a href="{{ url_for('stand', username=current_user.username) }}">Stand</a>

			{% else %}
			Cards in my hand: 
			{% for card in myhand %}
			<p>
				{{ card }}

			</p>
			{% endfor %}
			Cards in dealer's hand: 
			<p> {{ dealerhand[0] }} </p>
			<p> Hidden Card </p>
			<p>
				You Won! You got 21	
			</p>
		{% endif %}
	</p>
	

{% endblock %}